@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Space+Mono&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Space Mono", "Roboto Mono", sans-serif;
  font-size: 2.1vw;
}

@media screen and (min-width: 992px) {
  /*Laptop  Screen*/
  body {
    margin-inline: auto;
    width: 80%;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  img {
    width: 100%;
    height: 100%;
    display: block;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2vh;
  }

  a {
    text-decoration: none;
    color: black;
    font-size: 1.5vw;
  }

  .links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 30%;
  }

  main {
    display: grid;
    grid-template-columns: 3fr 0.7fr 2.75fr 3.25fr;
    grid-template-rows: 1fr 0.75fr 1fr 1.75fr;
    gap: 0.5rem;
  }

  #one {
    grid-area: 1 / 1 / 2 / 3;
  }
  #two {
    grid-area: 1 / 3 / 2 / 4;
  }
  #three {
    grid-area: 1 / 4 / 3 / 5;
  }
  #four {
    grid-area: 2 / 1 / 4 / 4;
  }
  #five {
    grid-area: 3 / 4 / 4 / 5;
  }
  #six {
    grid-area: 4 / 1 / 5 / 2;
  }
  #seven {
    grid-area: 4 / 2 / 5 / 5;
  }
}

@media screen and (max-width: 768px) {
  /*Tablet Screen*/
  body {
    margin-inline: auto;
    width: 80%;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  img {
    width: 100%;
    height: 100%;
    display: block;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2vh;
  }

  a {
    text-decoration: none;
    color: black;
    font-size: 1.5vw;
  }

  .links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 30%;
  }

  main {
    display: grid;
    grid-template-columns: 2.75fr 1.25fr 1fr 3.5fr;
    grid-template-rows: 1.25fr 1fr 1fr 1.55fr;
    gap: 0.5rem;
  }

  #one {
    grid-area: 1 / 1 / 2 / 4;
  }
  #two {
    grid-area: 1 / 4 / 2 / 5;
  }
  #three {
    grid-area: 2 / 1 / 4 / 3;
  }
  #four {
    grid-area: 2 / 3 / 3 / 5;
  }
  #five {
    grid-area: 3 / 3 / 4 / 5;
  }
  #six {
    grid-area: 4 / 1 / 5 / 2;
  }
  #seven {
    grid-area: 4 / 2 / 5 / 5;
  }
}
